<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Document</title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div :class="[dialog?'settingBoxs':settingBox,'font-'+fontSize+'-16']" id="vue"   v-cloak >
        <div class="why " :class="'font-'+fontSize+'-14'" >
            系统可能会自动关闭APP，为了保证能够实时收到血糖数据和消息提醒，请开启以下设置。
        </div>
        <div class="switch-setting">
            <div class="switch-item switch-item"  @click="switchFront">
                <div class="switch-item-label">
                    <p class="switch-item-label-text">
                        通知栏前台运行 
                    </p>
                    <p :class="'font-'+fontSize+'-13'" class="switch-item-label-tip">
                        允许前台运行可与设备保持更加稳定的连接
                    </p>
                </div>
                <img src="img/switch.png" alt="" class="switch-icon " v-if="!frontSwitch" >
                <img src="img/switch1.png" alt="" class="switch-icon " v-else>
            </div>
            <div class="switch-item switch-item"  @click="switchBattery">
                <div class="switch-item-label">
                    <p class="switch-item-label-text">
                        忽略电池优化 
                    </p>
                    <p class="switch-item-label-tip" :class="'font-'+fontSize+'-13'" >
                        加入电池优化白名单，以防系统省电设置误杀
                    </p>
                </div>
                <img src="img/switch.png" alt="" class="switch-icon" v-if="!batterySwitch">
                <img src="img/switch1.png" alt="" class="switch-icon " v-else>
            </div>
            <div class="handel-setting-item">
                <div class="handel-setting-item-title">
                    <div class="handel-setting-item-label">
                        自启动管理
                    </div>
                    <div class="handel-setting-goto" :class="'font-'+fontSize+'-14'" @click="SetStartAutomatically" >
                        前往设置
                        <img src="img/setting-icon.png" alt="" class="setting-icon" >
                    </div>
                </div>
                 <p class="switch-item-label-tip " :class="'font-'+fontSize+'-13'">
                   开启自启动管理，APP可在后台持续运行
                </p>
            </div>
            <div class="handel-setting-item" >
                <p class="switch-item-label-text">
                    锁定应用 (推荐)
                </p>
                <div class="lock-title" :class="'font-'+fontSize+'-14'">非全面屏或全面屏有导航按键的手机</div>
                <div class="lock-info" :class="'font-'+fontSize+'-14'">
                    <p>1.点击屏幕下方的“<img src="img/icon1.png" alt="" class="info-icon" >”菜单键；</p>
                    <p>2.长按“九安CGM”，在“九安CGM”应用上方出现 “<img src="img/icon2.png" alt="" class="info-icon" >”的标志即可。</p>
                    <img src="img/lock-img1.png" alt="" class="lock-img" >
                </div>
                 <div class="lock-title "  :class="'font-'+fontSize+'-14'">全面屏的手机</div>
                <div class="lock-info "  :class="'font-'+fontSize+'-14'">
                    <p>1. 在手机界面从下方缓慢的往上拉，进入最近打开的程序页面;</p>
                    <p>2.长按“九安CGM”，在“九安CGM”应用上方出现 “<img src="img/icon2.png" alt="" class="info-icon" >”的标志即可。</p>
                    <img src="img/lock-img2.png" alt="" class="lock-img" >
                </div>
            </div>
        </div>
       
        
        <div class="dialog-box" v-if="dialog">
            <div class="dialog" >
                <div class="dialog-title" >请选择您的手机品牌</div>
                <div class="dialog-cont" >
                    <div class="phone-list" v-for="(item,index) in phoneList" @click="phoneChoose(index)" >
                        <div class="phone-type" >{{item.type}}</div>
                        <img src="img/radio-check.png" alt="" class="phone-selcet" v-if="item.select">
                        <img src="img/radio.png" alt="" class="phone-selcet" v-else>
                       
                    </div>
                </div>
                <div class="dialog-btn" >
                    <div class="btn-cancel" @click="cancel">取消</div>
                    <div class="btn-confirm" @click="confirm">确定</div>
                </div>
            </div>
        </div>
        <div class="toast-box"  v-if="toast">
            <div class="toast" >
                <div class="toast-title"  :class="'font-'+fontSize+'-16'">{{toastTitle}}</div>
                <div class="toast-cont "   :class="'font-'+fontSize+'-14'">
                    {{toastCont}}
                </div>
                <div class="toast-btn" >
                    <div class='toast-btn-cancel' :class="'font-'+fontSize+'-16'" @click="toast=false">取消</div>
                    <div class='toast-btn-confirm' :class="'font-'+fontSize+'-16'" @click="toastConfirm">确认</div>
                </div>
            </div>
        </div>
        <!-- <div class="log" >打印内容：<br/>
            <p  v-html ='log'></p>
        </div> -->
    </div>
</body>
<script src="js/vue.js"></script>

<script>
    new Vue({
        el:'#vue',
        data:{
            frontSwitch:0, //0关 1开
            batterySwitch:0, //0关 1开
            dialog:false,
            toast:false,
            toastTitle:'关闭通知栏前台运行',
            toastCont:'关闭后实时数据、消息通知等功能可能不稳定，将导致数据、消息通知接收不及时。确定关闭吗？',
            toastType:1, //1 前台运行 2电池优化
            RnPhoneBrandIndex:-1,
            c:'',
            firing:[],
            battery:[],
            lock:[],
            log:[],
            fontSize:'default',
        },
        created() {
            // this.phoneIndex = this.phoneList.length-1
            // this.phoneText()
        },
        mounted() {
            let that = this
            this.$nextTick(()=>{
                window.addEventListener('message', function(e) {
                    let data = JSON.parse(e.data)
                    // that.setLog("接收到rn的消息:"+data)
                    // that.setLog("电源管理:"+data.batteryOptimization)
                    that.frontSwitch = data.foreground
                    that.batterySwitch = data.batteryOptimization
                    if(data.phoneBrand){
                            let searchIndex = -1
                            that.RnPhoneBrand = data.phoneBrand
                            that.phoneList.forEach((item,index)=>{
                                item.phoneBrand.forEach(val=>{
                                    if(val.toLowerCase() == data.phoneBrand.toLowerCase()){
                                        searchIndex = index
                                    }
                                })
                            })
                            that.RnPhoneBrandIndex =  searchIndex==-1?that.phoneList.length-1:searchIndex
                            that.phoneIndex = searchIndex==-1?that.phoneList.length-1:searchIndex
                            that.phoneText()
                    }
                    if(data.fontSize){
                        if(data.fontSize==1){
                            that.fontSize = 'default'
                        }else if(data.fontSize==1.28){
                            that.fontSize = 'two'
                        }else if(data.fontSize==1.57){
                            that.fontSize = 'three'
                        }else if(data.fontSize==2.1){
                            that.fontSize = 'four'
                        }
                    }
                },false)
            })
        },
        methods: {
            switchFront(){
                if(this.frontSwitch){
                    this.toastType = 1
                    this.toast = true
                    this.toastTitle='关闭通知栏前台运行'
                    this.toastCont = '关闭后实时数据、消息通知等功能可能不稳定，将导致数据、消息通知接收不及时。确定关闭吗？'
                }else{
                    this.frontSwitch = 1
                    this.sendData('Foreground',this.frontSwitch)
                }
            },
            switchBattery(){
                if(this.batterySwitch){
                    this.toastType = 2
                    this.toast = true
                    this.toastTitle='关闭忽略电池优化'
                    this.toastCont = '关闭后实时数据、消息通知等功能可能不稳定，将导致数据、消息通知接收不及时。确定关闭吗？'
                }else{
                    this.batterySwitch = 1
                    this.sendData('BatteryOptimization',this.batterySwitch)
                }
            },
            phoneChoose(index){
                this.phoneList.map(item=>item.select = false)
                this.phoneList[index].select = true
                this.phoneIndex = index
            },
            // 手机型号选择弹窗取消
            cancel(){
                this.dialog = false
            },
            // 手机型号确定弹窗
            confirm(){
                this.dialog = false
                this.phoneText()
            },
            // 弹窗
            toastConfirm(){
                this.toast = false
                if(this.toastType==1){
                    this.frontSwitch = 0
                    this.sendData('Foreground',this.frontSwitch)
                }else{
                    this.batterySwitch = 0
                    this.sendData('BatteryOptimization',this.batterySwitch)
                }
            },
            // 手机品牌文案对应
            phoneText(){
                let index = this.phoneIndex
                this.firing = this.phoneList[index].firing
                this.battery = this.phoneList[index].battery
                this.lock = this.phoneList[index].lock
                this.phoneList.map(item=>item.select = false)
                this.phoneList[index].select = true
            },
            // 设置自启动
            SetStartAutomatically(){
                this.sendData('SetStartAutomatically')
            },
            // 设置电源
            SetBattery(){
                this.sendData('SetBattery')
            },
            // 给rn发送消息
            sendData(key,value){
                let obj = {key:'',value:''}
                switch(key){
                    case 'Foreground':
                        obj.key = 'Foreground'
                        obj.value = value
                        break;
                    case 'BatteryOptimization':
                        obj.key = 'BatteryOptimization'
                        obj.value = value
                        break;
                    case 'SetStartAutomatically':
                        obj.key = 'SetStartAutomatically'
                        break;
                    case 'SetBattery':
                        obj.key = 'SetBattery'
                        break;
                }
                // this.setLog("发送给rn的消息:"+JSON.stringify(obj))
                // window.postMessage(JSON.stringify(obj))
                window.ReactNativeWebView.postMessage(JSON.stringify(obj))
            },
            // 打印消息
            setLog(text){
                const content = this.formatTime() + " " +text
                this.log += content
                this.log += "<br/>"
            },
         
            formatTime() {
                const now = new Date();
                const hours = now.getHours().toString().padStart(2, '0');
                const minutes = now.getMinutes().toString().padStart(2, '0');
                const seconds = now.getSeconds().toString().padStart(2, '0');
                const milliseconds = now.getMilliseconds().toString().padStart(3, '0');
                return `${hours}:${minutes}:${seconds}`;
            },
        }
    })
</script>
</html>